{% include "links.html" %}

<nav class="row nav">
    <div class="nav-item">
        <div>
            <img src="../static/project_images/Defect.png" class="logo">
        </div>
        <div>
            {% if name %}
             <p>{{ name }}</p>
            {% endif %}
        </div>
    </div>
    <div class="nav-item mt-10">
        <div><a href="/admin_home" class="nav-menu-item">Admin Home</a></div>
        <div><a href="/add_manager" class="nav-menu-item">Add Manager</a></div>
        <div><a href="view_managers" class="nav-menu-item">View Managers</a></div>
        <div><a href="/add_developer" class="nav-menu-item">Add Developer</a></div>
        <div><a href="/view_developers" class="nav-menu-item">View Developers</a></div>
        <div><a href="/logout" class="nav-menu-item">Logout</a></div>
    </div>
</nav>