{% include "links.html" %}

<nav class="row nav">
    <div class="nav-item">
        <div>
            <img src="../static/project_images/Defect.png" class="logo">
        </div>
    </div>
    <div class="nav-item mt-10">
        <div><a href="/" class="nav-menu-item">Home</a></div>
        <div><a href="/admin_login" class="nav-menu-item">Admin</a></div>
        <div><a href="/project_manager_login" class="nav-menu-item">Project Manager</a></div>
        <div><a href="/developer_login" class="nav-menu-item">Developer</a></div>
        <div><a href="/user_login" class="nav-menu-item">User</a></div>
    </div>
</nav>