{% include "links.html" %}

<nav class="row nav">
    <div class="nav-item">
        <div>
            <img src="../static/project_images/Defect.png" class="logo">
        </div>
        <div>
            {% if name %}
             <p>{{ name }}</p>
            {% endif %}
        </div>
    </div>
    <div class="nav-item mt-10">
        <div><a href="/manager_home" class="nav-menu-item">Manager Home</a></div>
        <div><a href="/view_tickets" class="nav-menu-item">View Tickets</a></div>
        <div><a href="/manager_notifications" class="nav-menu-item">Notifications</a></div>
        <div><a href="/logout" class="nav-menu-item">Logout</a></div>
    </div>
</nav>