<!-- change_password.html -->
{% include 'main_head.html' %}

<div class="mt-120">
    <div class=" ">
        <div class="w-30 margin-auto">
            <div class="card p-20">
                <form action="/manager_change_password" method="post">
                    <div>
                        <div class="card-label">Change Password</div>
                    </div>
                    <div class="mt-20">
                        <label for="new_password" class="">New Password:</label>
                        <input type="password" name="new_password" id="new_password" class="form-input" placeholder="Please Enter New Password" required>
                    </div>
                    <div>
                        <input type="submit" class="btn w-100 mt-20 btn-primary" value="Change Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
