{% include 'main_head.html' %}

<div class="mt-120">
    <div class=" ">
        <div class="w-30 margin-auto">
            <div class="card p-20">
                <form action="project_manager_login_action" method="post">
                    <div class="">
                        <div>
                            <img src="https://img.freepik.com/premium-photo/program-designer-developer-ai-generative_199064-2141.jpg?ga=GA1.1.1312216658.1718106846&semt=sph" class="w-30 ml-130">
                        </div>
                        <div class="card-label">Project Manager Login</div>
                    </div>
                    <div class="mt-20">
                        <label for="email" class="">Email:</label>
                        <input type="email" name="email" id="email" class="form-input" placeholder="Please Enter Email" required>
                    </div>
                    <div class="mt-10">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-input" placeholder="Please Enter Password" required>
                    </div>
                    <div>
                        <input type="submit" class="btn w-100 mt-20 btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
